# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/


### bower ###
www/lib


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json


### Typings ###
## Ignore downloaded typings
typings

### build files ###
www/js
www/pages
www/build